@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

@charset "ISO-8859-1";

/* ------------------------------------ -->
<!-- --------- CSS GENERAL ------------- -->
<!-- ------------------------------------ */
html {
	height: 100%;
    font-family: Segoe UI; 
	color: rgb(112, 112, 112);
}

body {
	height: 100%;
}

.btn, .btnModal, .btnForm {
	background-color: #A8334A;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	height: 30px;
	font-size: 13.5px;
	font-family: Segoe UI; 
}

.btn:hover, .btnModal:hover, .btnForm:hover {
	background-color: #5D0012;
}

a {
	color: rgb(112, 112, 112);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
	color: #A8334A;
}

input:focus {
	outline: none;
}

.errorMessage {
	color: red;
	font-size: 13px;
	margin-left: 5px;
}

input[type=checkbox] { 
	display:none; 
}

input[type=checkbox] + label:before, label {
	cursor: pointer;
}

input[type=checkbox] + label:before { 
  	font-family: FontAwesome;
  	display: inline-block;
	content: "\f096"; 
	color: #a93049;	
    font-size: 18px;
    margin: 0 0 -1px 4px;
}

input[type=checkbox] + label:before { letter-spacing: 5px; }

input[type=checkbox]:checked + label:before { content: "\f046"; }
input[type=checkbox]:checked + label:before { letter-spacing: 2.5px; } 

/* ------------------------------------ -->
<!-- --------- CSS MODAL ------------- -->
<!-- ------------------------------------ */
.modal-header {
	background-color: #a93049;
	border-radius: 0!important;
    font-family: Segoe UI;
    padding: 10px!important;
}

.modal-title, .modal-header button, .modal-header button:hover {
	color: white;
	opacity: 1;
	font-size: 15px;
}

.modal-header button:focus, .btnModal:focus, .btnForm:focus {
	outline: none;
}

.modal-body {
	color: rgb(112, 112, 112);
	background-color: rgba(104,169,151,0.09);
}

.modal-body .text_modal {
    margin-bottom: 14px;
}

.modal-footer {
	background-color: rgba(104,169,151,0.09);
}

.btnModal, .btnForm {
	padding: 10px 20px!important;
    min-width: 100px;
    height: auto;
    font-weight: 600;
    margin-left: 15px;
}

/* ------------------------------------ -->
<!-- --------- CSS TEMPLATE ------------- -->
<!-- ------------------------------------ */

nav {
	background-color: white;
	border-bottom: solid 1px #a93049;
	padding: 0!important;
	min-width: 1300px;
}

#organIsep{
	border-right: solid 1px #a93049;
	padding: 10px 40px;
	box-shadow: 1px 0px 4px #a93049;
}

#infoUser {
	vertical-align: middle;
}

#infoUser #name_user {
	margin: 0 10px;
	font-family: Segoe UI;
	color: rgb(112,112,112);
	font-weight: bold;
    font-size: 13px;
    vertical-align: middle;
}

#content_template {
	display: flex;
    min-height: calc(100% - 62px);
    width: 100%;
    min-width: 1300px;
    background-color: rgba(104,169,151,0.09);
}

#content_template .list-group {
	width: 181px;
    background-color: #a93049;
    box-shadow: 1px 0px 4px #a93049;
    padding-top: 50px;
    font-size: 14px;
}

#content_template .list-group-item {
	background-color: #a93049;
	color: white;
	outline: none;
	border: none;
	border-radius: initial;
	padding: 15px 10px!important;
}

#content_template .list-group-item i {
	margin-right: 10px;
}

#content_template .list-group-item.active, #content_template .list-group-item:hover {
	background-color: #5D0012;
	text-decoration: none;
}

#content_template .tab-content {
	padding: 10px 30px;
    width: calc(100% - 181px);
}


/* ------------------------------------ -->
<!-- --------- PAGE CONNEXION ----------- -->
<!-- ------------------------------------ */
#body_co {
	background-image: url("img/fond_login.png");
	display: flex;
	height: 90%;
}

#logoisep {
	position: absolute;
	top: 10px;
	right: 10px;
}

#body_co #logo {
	text-align: center;
}

#body_co #content_form {
	background-color: rgba(255, 255, 255, 0.83);
	margin: auto;
	padding: 20px 40px 40px 40px;
	border-radius: 20px;
	width: 315px;
}

#body_co #content_form form div {
	margin: 20px auto;
}

#body_co #content_form label {
	font-size: 15px;
}

#body_co #content_form input {
	width: 100%;
	padding: 6px 6px;
}

#body_co #content_form input[type="submit"] {
	width: 329px!important;
	margin-top: 10px;
}

#body_co #content_form a {
	font-size: 13px;
}

/* ------------------------------------ -->
<!-- --------- DASHBOARD ----------- -->
<!-- ------------------------------------ */

#dashboard #filtre_statut, #dashboard #filtre_statut a {
	font-weight: bold;
	font-size: 14px;
	color: rgb(112, 112, 112);
}

#dashboard #filtre_statut .active, #dashboard #filtre_statut a:hover {
	color: #a93049;
	text-decoration: none;
}

#dashboard #dashEvents {
	width: 85%;
	margin: 30px auto;
}

#dashboard #filtre_events {
	display: flex;
	justify-content: space-between;
}

#dashboard .etiquette {
	background-color: white;
	box-shadow: 1px 0px 4px rgb(112, 112, 112);
	margin-bottom: 30px;
	display: flex;
	color: rgb(112, 112, 112);
	position: relative;
	min-width: 900px;
}

#dashboard .etiquette .content_img {
	width: 40%;
}

#dashboard .etiquette .content_event {
	padding: 10px 0 10px 20px;
	width: 60%;
}

#dashboard .etiquette .content_event .titre_event {
	max-width: 50%;
	margin-bottom: 20px;
	color: #A8334A;
	font-weight: bold;
}

#dashboard .etiquette .content_event .sousTitre_event {
	margin-bottom: 30px;
	font-weight: bold;
}

#dashboard .etiquette .creat_content {
	position: absolute;
    top: 15px;
    right: 15px;
    width: 70px;
    text-align: center;
}

#dashboard .etiquette .creat_content img {
	width: 50px;
}

#dashboard .etiquette .validation_content {
	position: absolute;
    top: 17px;
    right: 100px;
    width: 15%;
    text-align: center;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    color: #B46437;
}


/* ------------------------------------ -->
<!-- ------- CREATION D'EVENT --------- -->
<!-- ------------------------------------ */

#edit {
	background-color: white;
    margin: 18px 30px;
    box-shadow: 1px 0px 4px rgb(112, 112, 112);
}

#edit h3 {
	padding-top: 20px;
	color: #a93049;
	text-align: center;
}

#edit #msgErrorCreat {
	color: red;
	margin-bottom: 10px;
}

#edit #msgErrorCreat i {
	margin-right: 5px;
}

#edit #formCreatEvent {
	padding: 30px;
}

#edit #formSalles {
	margin-bottom: -20px;
}

#edit .input-group-prepend {
	cursor: pointer;
}

.iconInput:after {
	font-family: FontAwesome;
    display: inline-block;
    content: "\f153";
    color: rgb(112, 112, 112);
    font-size: 18px;
    position: absolute;
    right: 20px;
    top: 50%;
}

#edit #formRess .form-row {
	margin: 10px 0 20px 0;
	padding: 20px 10px 0 10px;
	border: 1px solid #a93049;
	border-radius: 10px;
	box-shadow: 1px 0px 4px rgb(112, 112, 112);
}

#edit #formRess, #divDesc {
	margin-top: 30px;
}

#edit #btnFormEvent {
	text-align: end;
	padding-top: 30px;
}