@charset "ISO-8859-1";

/* ------------------------------------ -->
<!-- --------- CSS GENERAL ------------- -->
<!-- ------------------------------------ */
html {
	height: 100%;
    font-family: Segoe UI; 
	color: rgb(112, 112, 112);
}

.btn {
	background-color: #A8334A;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	height: 30px;
}

.btn:hover {
	background-color: #5D0012;
}

a {
	color: rgb(112, 112, 112);
    text-decoration: none;
}

a:hover {
	color: #A8334A;
}

input:focus {
	outline: none;
}

.errorMessage {
	color: red;
	font-size: 13px;
	margin-left: 5px;
}

/* ------------------------------------ -->
<!-- --------- CSS TEMPLATE ------------- -->
<!-- ------------------------------------ */

nav {
	background-color: white;
	border-bottom: solid 1px #a93049;
	padding: 0!important;
}

#organIsep{
	border-right: solid 1px #a93049;
	padding: 10px 40px;
	box-shadow: 1px 0px 4px #a93049;
}

#infoUser {
	vertical-align: middle;
}

#infoUser #name_user {
	margin: 0 10px;
	font-family: Segoe UI;
	color: rgb(112,112,112);
	font-weight: bold;
    font-size: 13px;
    vertical-align: middle;
}

#content_template {
	display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(104,169,151,0.09);
}

#content_template .list-group {
	width: 181px;
    background-color: #a93049;
    box-shadow: 1px 0px 4px #a93049;
    padding-top: 50px;
    font-size: 14px;
}

#content_template .list-group-item {
	background-color: #a93049;
	color: white;
	outline: none;
	border: none;
	border-radius: initial;
	padding: 15px 10px!important;
}

#content_template .list-group-item i {
	margin-right: 10px;
}

#content_template .list-group-item.active, #content_template .list-group-item:hover {
	background-color: #5D0012;
}



/* ------------------------------------ -->
<!-- --------- PAGE CONNEXION ----------- -->
<!-- ------------------------------------ */
#body_co {
	background-image: url("img/fond_login.png");
	display: flex;
	height: 90%;
}

#logoisep {
	position: absolute;
	top: 10px;
	right: 10px;
}

#body_co #logo {
	text-align: center;
}

#body_co #content_form {
	background-color: rgba(255, 255, 255, 0.83);
	margin: auto;
	padding: 20px 40px 40px 40px;
	border-radius: 20px;
	width: 315px;
}

#body_co #content_form form div {
	margin: 20px auto;
}

#body_co #content_form label {
	font-size: 15px;
}

#body_co #content_form input {
	width: 100%;
	padding: 6px 6px;
}

#body_co #content_form input[type="submit"] {
	width: 329px!important;
	margin-top: 10px;
}

#body_co #content_form a {
	font-size: 13px;
}