nav{
	background-color: white;
	border-bottom: solid 1px #a93049;
	padding: 0!important;
}

#organIsep{
	border-right: solid 1px #a93049;
	padding: 10px 40px;
	box-shadow: 1px 0px 4px #a93049;
}

#infoUser {
	vertical-align: middle;
}

#infoUser #name_user {
	margin: 0 10px;
	font-family: Segoe UI;
	color: rgb(112,112,112);
	font-weight: bold;
    font-size: 13px;
    vertical-align: middle;
}

#content_template {
	display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(104,169,151,0.09);
}

#content_template .list-group {
	width: 181px;
    background-color: #a93049;
    box-shadow: 1px 0px 4px #a93049;
    padding-top: 50px;
    font-size: 14px;
}

#content_template .list-group-item {
	background-color: #a93049;
	color: white;
	outline: none;
	border: none;
	border-radius: initial;
	padding: 15px 10px!important;
}

#content_template .list-group-item i {
	margin-right: 10px;
}

#content_template .list-group-item.active, #content_template .list-group-item:hover {
	background-color: #5D0012;
}